{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div style=" background: #3a3a3a; color: aliceblue;" class="head">
        <div style="display: flex;" class="container">
                <svg style="width: 20px; margin-left: 200px; color:aquamarine;"  data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"></path>
                </svg><p>24 Olive Street, Prairie, NY 53590</p>
                
                <svg style="width: 20px; margin-left: 50px; color:aquamarine;" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"></path>
                </svg><p style=" margin-right: 50px;">whitecollar@gmail.com</p>
                
                <svg style="width: 20px; margin-left: 300px; color:aquamarine;" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                </svg><p>Mon - Fri: 8:00 am - 5:00 pm</p>
              
              <i style="width: 20px; margin-top: 19px; margin-left: 20px;" class="fa-brands fa-instagram"></i>
              <i style="width: 20px; margin-top: 19px;" class="fa-brands fa-facebook"></i>
              <i style="width: 20px; margin-top: 19px;" class="fa-brands fa-twitter"></i>
              <i style="width: 20px; margin-top: 19px;" class="fa-brands fa-pinterest"></i>
        </div>
    </div>
    <div style="margin-bottom: 20px;" class="header">
        <div class="menu">
            <div class="container">
                <div style="display: flex; margin-left: 300px;" class=" header">
                    <h2 style="margin-top: 30px;">WhiteCo<span style="color: #6B77E5;">ll</span>ar</h2>
                    <div style="margin-top: 27px;  margin-left: 300px;" class="nav">
                        <a style="margin-right: 20px;">Home</a>
                        <a style="margin-right: 20px;">About Us</a>
                        <a style="margin-right: 20px;">Pages<i class="fa-solid fa-sort-down"></i></a>
                        <a style="margin-right: 20px;">Services</a>
                        <a style="margin-right: 20px;">Blog</a>
                        <a style="margin-right: 20px;">Contact Us</a>
                        <button style="background: #6B77E5; border: none; padding: 15px;">Get Consulting</button>
                    </div>
                </div>
            </div>
           
        </div>  
    </div>
    <div class="main">
        <div style="display: flex;" class="container">
            <div style="background: #37393FE8; color: aliceblue; width: 350px; padding: 100px;" class="box">
                <p style="margin-left: 20px; "><button style="width: 11px; height: 15px; margin-right: 5px; background: #40DDB6;"></button>Quick Solution</p> 
                <h1 style="font-size: 50px; margin-left: 10px;" >Frequently Asked <br> Questions</h1>
            </div>
            <img style="width: 970px; object-fit: cover;" src="{% static 'img/photos/Image (11).png' %}" alt="">
        </div>
    </div>
    <div style="background: #F4F4F4; width:359px; height:393px; margin-left: 100px; margin-top: 100px; padding: 20px;"  class="categories">
        <h1>Categories</h1>
        <p style="background: #6B77E5; padding: 20px; font-size: 20px; color: #ffffff;" >Main Questions</p>
        <p style=" padding: 20px; font-size: 20px; color: #37393F;" >Common Queries</p>
        <p style=" padding: 20px; font-size: 20px; color: #37393F;" >General Questions</p>
        <p style=" padding: 20px; font-size: 20px; color: #37393F;" >Legal information</p>
        <div class="works">
            <h1 style="margin-left: 430px; border: 1px solid #3a3a3a ; width: 810px; padding: 20px; margin-top: -430px;">How does our pricing works ? <i style="margin-left: 350px;" class="fa-solid fa-sort-down"></i></h1>
            
            <h1 style="margin-left: 430px; border: 1px solid #3a3a3a ; width: 810px; padding: 20px; margin-top: 30px;">How does our pricing works ? <i style="margin-left: 350px;" class="fa-solid fa-sort-up"></i><p style="font-size: 18px; color: #7D7D7D;">Objectively innovated empowered manufactured products where as parallel holisticly predominat extensible testing procedures reliable supply chains dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p></h1>
            
            <h1 style="margin-left: 430px; border: 1px solid #3a3a3a ; width: 810px; padding: 20px; margin-top: 30px;">Do You Offer Volume Or Loyalty Discounts? <i style="margin-left: 150px;" class="fa-solid fa-sort-down"></i></h1>
            
            
            <h1 style="margin-left: 430px; border: 1px solid #3a3a3a ; width: 810px; padding: 20px; margin-top: 30px;">What Types Of Companies Do You Work With?<i style="margin-left: 110px;" class="fa-solid fa-sort-down"></i></h1>
            
        </div>
    </div>
    <div style="margin-top: 150px; background: #37393F;" class="footer">
        <div class="container">
            <div style="border: 1px solid #6C6D72;" class="div">
                <div style="display: flex; padding: 100px;" class="first">
                    <h2 style="margin-top: 30px; color: #FFFFFF; margin-left: 50px; ">WhiteCo<span style="color: #40DDB6;">ll</span>ar</h2>
                    <button style="background: #4C4D52; width: 68px; height: 68px; border-radius: 50px; border: none;margin-left: 150px;"><i style="color: #40DDB6; font-size: 20px;" class="fa-solid fa-phone"></i></button><p style="color: #FFFFFF;">Call Us <br> +01 569 896 654</p>
                    
                    
                    <button style="background: #4C4D52; width: 68px; height: 68px; border-radius: 50px; border: none;margin-left: 200px;"><i style="color: #40DDB6; font-size: 20px;" class="fa-regular fa-envelope"></i></button><p style="color: #FFFFFF;">Mail Us <br> Info@Example.com</p>
                    
                    <button style="background: #4C4D52; width: 68px; height: 68px; border-radius: 50px; border: none;margin-left: 200px;"><i style="color: #40DDB6; font-size: 20px;" class="fa-solid fa-location-dot"></i></button><p style="color: #FFFFFF;">Location<br> Amsterdam, 109-74</p>
                </div>
                <div style="display: flex;" class="second">
                    <p style="margin-left: 150px; margin-top: 15px; color: #40DDB6;"><button style="width: 11px; height: 15px; margin-right: 5px; background: #6B77E5; border: none;"></button>Quick Link</p>
                    
                    <p style="margin-left: 200px; margin-top: 15px; color: #40DDB6;"><button style="width: 11px; height: 15px; margin-right: 5px; background: #6B77E5; border: none;"></button>Our Services</p>
                    
                    <p style="margin-left: 200px; margin-top: 15px; color: #40DDB6;"><button style="width: 11px; height: 15px; margin-right: 5px; background: #6B77E5; border: none;"></button>Uitility Page</p>
                </div>
                <div  style="margin-left: 150px; display: flex;">
                    <a style="color: #FFFFFF;">Home <br> About Us <br> Blog <br>Services <br> Contact</a> 
                    
                    <a style="color: #FFFFFF; margin-left: 230px;">Financial Consulting <br style="color: #40DDB6;"> Business Management <br> Consultant & Programs <br>Company Management <br> Insurance & Finance</a>
                     
                    <a style="color: #FFFFFF; margin-left: 150px;">Style Guide  <br style="color: #40DDB6;"> Licenses <br> Instructions <br>Changelog <br> 404 Page</a> 
                    
                    <div  style="background: #474950; margin-left: 110px; width:  479px; height: 235px; margin-bottom: 50px; margin-top: -80px;" class="box">
                        <h1 style="color: #FFFFFF; margin-left: 30px;" >Subscribe</h1>
                        <h3 style="color: #FFFFFF; margin-left: 30px;">Join Our Mailing List & to get our news.</h3>
                        <button style="color: #000000; margin-left: 30px; width: 264px; height: 65px;">your email address</button><button style="width: 143px; height: 65px; color: #ffffff; background: #6B77E5;">Subscribe</button>
                    </div>
                    </div>
            </div>
                <div style="display: flex;" class="third">
                    <p style="margin-left: 150px; color: #FFFFFF;">Copyright © WhiteCollar | Designed by VictorFlow Templates - Powered by Webflow</p>
                    
                    <p style="margin-left: 500px; color: #FFFFFF; margin-top: -10px;">Follow :<i style="width: 20px; margin-top: 19px; margin-left: 20px;" class="fa-brands fa-instagram"></i>
                        <i style="width: 20px; margin-top: 19px;" class="fa-brands fa-facebook"></i>
                        <i style="width: 20px; margin-top: 19px;" class="fa-brands fa-twitter"></i>
                        <i style="width: 20px; margin-top: 19px;" class="fa-brands fa-pinterest"></i></p>
                </div>
        </div>
    </div>
</body>
</html>